{% spaceless %}
{% include "header.twig" %}

<div class="container-fluid">

  {% if missing | length %}
    <b>
      Не указаны противопоказания:
    </b>
    <ul>
      {% for user in missing %}
        <li>
          <a href="/edit.php?email={{ user.email | url_encode }}">
            {{ user.surname }}
            {{ user.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <table class="table">
    <thead>
      <tr>
        <th>
          ФИО
        </th>
        <th>
          Противопоказания
        </th>
      </tr>
    </thead>
    {% for user in users %}
      <tr>
        <td>
          {{ user.surname }}&nbsp;{{ user.name }}
        </td>
        <td>
          {{ user.contraindication }}
        </td>
      </tr>
    {% endfor %}
  </table>

</div>

{% include "footer.twig" with {additional_js : ["table.js"]} only %}
{% endspaceless %}
