{% spaceless %}
{% include "header.twig" %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

  <h2>
    Заявка

    <div class="pull-right">
    {% if isAdmin %}
      <a href="/" class="btn btn-primary">
        К таблице участников
      </a>
    {% else %}
      <a href="/table-public.php" class="btn btn-primary">
        К списку участников
      </a>
      &nbsp;
      <a href="/actions/logout.php" class="btn btn-danger">
        Выйти
      </a>
    {% endif %}
    </div>
  </h2>

  {% if photo %}
    <img src="/photos/{{ photo }}" class="photo-main img-responsive center-block" />
    <br />
  {% endif %}

  {% if justUpdated %}
    <div class="alert alert-success" role="alert">
      <b>Отлично!</b>
      Ваша заявка сохранена.
      Cпасибо, что вы зарегистрировались. На вашу почту ушло письмо с паролем и инструкциями.
      Будем рады вас видеть. Если письма нет, то проверьте папку «Спам».
    </div>
  {% endif %}

  <form action="/actions/update.php" method="post" id="edit" enctype="multipart/form-data">
    <input type="hidden" name="email" id="email" value="{{ email }}" />

    {% if isAdmin %}
      <div class="form-group">
        <label for="name">E-mail</label>
        <input type="text" class="form-control" id="name" disabled value="{{ email }}" />
      </div>
    {% endif %}

    <div class="form-group">
      <label for="name">Фамилия и имя</label>
      <input type="text" class="form-control" id="name" placeholder="Иванов Иван" name="name" value="{{ name }}" required />
    </div>

    <div class="form-group">
      <label for="nick">Ник или прозвище</label>
      <input type="text" class="form-control" id="nick" placeholder="Если нет — оставьте поле пустым" name="nick" value="{{ nick }}" />
    </div>

    <div class="form-group">
      <label for="age">Дата рождения</label>
      <input type="date" class="form-control" id="age" placeholder="1990-12-31" name="age" value="{{ age }}" pattern="\d\d\d\d-\d\d-\d\d" title="В формате ГГГГ-ММ-ДД" required />
    </div>

    <div class="form-group">
      <label for="contacts">Телефон</label>
      <input type="tel" class="form-control" id="contacts" placeholder="+12 (090) 898-79-78" name="contacts" value="{{ contacts }}" required />
    </div>

    <div class="form-group">
      <label for="city">Город проживания</label>
      <input type="text" class="form-control" id="city" placeholder="" name="city" value="{{ city }}" required list="citySuggestions" />
    </div>

    <datalist id="citySuggestions">
      {% for citySuggestion in citySuggestions %}
        <option value="{{ citySuggestion }}" />
      {% endfor %}
    </datalist>

    <div class="form-group">
      <label>Поселение</label>
      <div class="radio">
        <label>
          <input type="radio" id="settlement-self" name="settlement" value="self" {% if not group_owner and not group_id %}checked{% endif %} />
          Самостоятельно
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" id="settlement-owner" name="settlement" value="owner" {% if group_owner %}checked{% endif %} />
          Я старший группы
          <input type="text" class="form-control" id="group-name" placeholder="{{ defaultGroupName }}" name="group_name" value="{{ group_name }}" {% if not group_owner %}disabled{% endif %} />
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" id="settlement-member" name="settlement" value="member" {% if not group_owner and group_id %}checked{% endif %} />
          Я член группы
          <select class="form-control" id="group-id" name="group_id" {% if not (not group_owner and group_id) %}disabled{% endif %} />
            {% include "select.twig" with {all: groups, selected: group_id} %}
          </select>
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="room">Формат поселения</label>
      <select class="form-control" name="room" required>
        {% include "select.twig" with {all: rooms, selected: room} %}
      </select>
    </div>

    <div class="form-group">
      <label for="contraindication">Медицинские противопоказания и хронические заболевания</label>
      <textarea class="form-control" rows="3" id="contraindication" name="contraindication" placeholder="Если отсутствуют — оставьте поле пустым">{{ contraindication }}</textarea>
    </div>

    <div class="form-group">
      <label for="photo">Добавить фото. На фото должно быть хорошо видно ваше лицо. </label>
      <input type="file" id="photo" name="photo">
    </div>

    <div class="pull-right">
      <a class="btn btn-danger btn-xs" data-email="{{ email }}" id="delete-btn">Удалить заявку</a>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
  </form>

    </div>
  </div>
</div>

{% include "footer.twig" with {additional_js : ["edit.js"]} only %}
{% endspaceless %}
