{% spaceless %}
{% include "header.twig" %}

<div class="container-fluid">


  <h2>
    Список заявок

    <span class="form-inline">
      <input type="search" id="omnibox" class="form-control" placeholder="Поиск..." autofocus />
    </span>

    <div class="pull-right">
      &nbsp;
      <a href="/contraindications.php" class="btn btn-default">
        Противопоказания
      </a>
      &nbsp;
      <a href="/passports.php" class="btn btn-default">
        Паспорта
      </a>
      &nbsp;
      <a href="/students.php" class="btn btn-default">
        Студенты
      </a>
      &nbsp;
      <a href="/texts.php" class="btn btn-default">
        Тексты
      </a>
      &nbsp;
      <a href="/houses.php" class="btn btn-default">
        Расселение
      </a>
      &nbsp;
      <a href="/actions/logout.php" class="btn btn-danger">
        Выйти
      </a>
    </div>

  </h2>

  <table id="users-table" class="table table-striped sortable">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Имя игрока
        </th>
        <th>
          Ник
        </th>
        <th>
          Имя персонажа
        </th>
        <th>
          Блок
        </th>
        <th>
          Статус крови
        </th>
        <th>
          Статус заявки
        </th>
      </tr>
    </thead>
    {% for user in users %}
      <tr id="{{ user.email }}">
        <td>
          <a href="/edit.php?email={{ user.email | url_encode }}">
            <i class="glyphicon glyphicon-edit"></i>
            {{ user.id }}
            {% if user.updated %}
              &nbsp; <span class="label label-danger" title="Изменения в заявке"><i class="glyphicon glyphicon-pencil"></i></span>
            {% endif %}
            {% if user.unread %}
              &nbsp; <span class="label label-danger" title="Новое сообщение"><i class="glyphicon glyphicon-envelope"></i></span>
            {% endif %}

            {% if user.photo %}
              <img src="/photos-low/80.0.{{ user.photo }}" class="photo-thumbnail img-responsive" />
            {% endif %}
          </a>
        </td>
        <td>
          {% if user.name %}
            {{ user.name }}
            {{ user.surname }}
          {% else %}
            {{ user.email }}
          {% endif %}
          {% if user.facebook %}
            &nbsp;
            <a href="{{ user.facebook }}">FB</a>
          {% endif %}
          {% if user.telegram %}
            &nbsp;
            <a href="http://t.me/{{ user.telegram | slice(1) }}">TG</a>
          {% endif %}
        </td>
        <td>
          {{ user.nick }}
        </td>
        <td>
          {{ user.character_name }}
        </td>
        <td>
          {{ blocks[user.block] }}
        </td>
        <td>
          {{ bloods[user.blood] }}
        </td>
        <td data-value="{{ ordStatuses[user.status] }}">
          <select class="status-selector" data-email="{{ user.email }}">
            {% include "select.twig" with {all: statuses, selected: user.status} %}
          </select>
        </td>
      </tr>
    {% endfor %}
  </table>

  <div class="pull-right">
    <a href="/actions/backup.php" class="btn btn-default">
      Скачать бекап
    </a>
    &nbsp;
    <a href="/actions/export-csv.php" class="btn btn-default">
      Скачать CSV
    </a>
  </div>
</div>

{% include "footer.twig" with {additional_js : ["table.js"]} only %}
{% endspaceless %}
