{% spaceless %}
{% include "header.twig" %}

<div class="container-fluid">


  <h2>
    Список заявок

    <span class="form-inline">
      <input type="search" id="omnibox" class="form-control" placeholder="Поиск..." autofocus />
    </span>

    <div class="pull-right">
    {% if isAdmin %}
      <a href="/" class="btn btn-primary">
        К таблице участников
      </a>
    {% elseif isLoggedIn %}
      <a href="/" class="btn btn-primary">
        К моей анкете
      </a>
      &nbsp;
      <a href="/actions/logout.php" class="btn btn-danger">
        Выйти
      </a>
    {% else %}
      <a href="/" class="btn btn-primary">
        Зарегистрироваться
      </a>
    {% endif %}
    </div>

  </h2>

  <table id="users-table" class="table table-striped sortable">
    <thead>
      <tr>
        <th>
        </th>
        <th>
          Игрок
        </th>
        <th>
          Персонаж
        </th>
        <th>
          Блок
        </th>
        <th>
          Статус
        </th>
      </tr>
    </thead>
    {% for user in users %}
      <tr>
        <td>
          {% if user.is_photo_public and user.photo %}
            <a href="/photos/{{ user.photo }}">
              <img src="/photos/{{ user.photo }}" class="photo-thumbnail img-responsive" />
            </a>
          {% endif %}
        </td>
        <td>
          {% if user.publicity == "full" %}
            {{ user.name }}
            {{ user.surname }}
            {% if user.nick %}
              ({{ user.nick}})
            {% endif %}
            {% if user.facebook %}
              &nbsp;
              <a href="{{ user.facebook }}">FB</a>
            {% endif %}
            {% if user.telegram %}
              &nbsp;
              <a href="http://t.me/{{ user.telegram | slice(1) }}">TG</a>
            {% endif %}
          {% elseif user.publicity == "no-facebook" %}
            {{ user.name }}
            {{ user.surname }}
            {% if user.nick %}
              ({{ user.nick }})
            {% endif %}
          {% elseif user.publicity == "nick-and-facebook" %}
            {{ user.nick }}
            {% if user.facebook %}
              &nbsp;
              <a href="{{ user.facebook }}">FB</a>
            {% endif %}
            {% if user.telegram %}
              &nbsp;
              <a href="http://t.me/{{ user.telegram | slice(1) }}">TG</a>
            {% endif %}
          {% elseif user.publicity == "nick-only" %}
            {{ user.nick }}
          {% else %}
            Роль занята
          {% endif %}
        </td>
        <td>
          {{ user.character_name }}
        </td>
        <td>
          {{ blocks[user.block] }}
        </td>
        <td>
          {% if user.quenta_public %}
            {{ user.quenta_public }}
          {% else %}
            {{ statuses[user.status] }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>

  <div class="pull-right">
    <a href="/students.php" class="btn btn-default">
      Список студентов
    </a>
  </div>

</div>

{% include "footer.twig" with {additional_js : ["table.js"]} only %}
{% endspaceless %}
